@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'assets/scss/theme';
@import 'assets/scss/animations';

.archives {
  margin: 1.5rem;
  max-width: 100%;
  @media (min-width: map-get($grid-breakpoints ,'lg' )) {
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    max-width: 1rem * 50;
  }
}

.container {
  margin-bottom: 2rem;
}

.timeline {
  padding: 1rem 0 2rem;
  border-left: lightgray 4px solid;
}

.activity {
  border-bottom: gray 1px dotted;
  margin-top: 2rem;
  position: relative;
  animation: floatup 0.5s linear;

  &::before {
    content: '';
    display: block;
    background-color: $theme-color;
    border-width: 1rem;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-75%, -50%);
  }

  & p {
    margin: 0 1rem;
  }
}
