@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'assets/scss/theme.scss';

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 4.5rem 1.5rem;
  background-color: $theme-color;
  position: relative;

  @media (min-width: map-get($grid-breakpoints, 'xl' )) {
    align-items: flex-end;
    padding: 2.5rem 4rem;
  }
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
}

.description {
  font-size: 1rem;
  text-align: center;

  & strong {
    color: white;
    display: block;
    font-weight: 400;
    margin-bottom: 0.5rem;

    @media (min-width: map-get($grid-breakpoints, 'xl' )) {
      margin-bottom: 1rem;
    }
  }

  & p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
}

.link {
  color: $text-color;
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
